/Panthers
/algorithm/algorithm.py/.idea
/algorithm/algorithm.py/__pycache__
/algorithm/algorithm.py/venv
/server/src/main/resources/config.properties
/server/src/target/classes/static/transferDataToSeaWulf.sh